
@font-face {
	font-family: 'Myriad Pro';
	src: url('MyriadPro-Bold.eot');
	src: local('Myriad Pro Bold'), local('MyriadPro-Bold'),
		url('MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('MyriadPro-Bold.woff') format('woff'),
		url('MyriadPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('MyriadPro-Regular.eot');
	src: local('Myriad Pro Regular'), local('MyriadPro-Regular'),
		url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('MyriadPro-Regular.woff') format('woff'),
		url('MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
